@media (min-width: 992px) and (max-width: 1199px) {
    body {
      /* background-color: blue; */
    }
    .rsp-card1{
        height: 180px;
    }
    .rsp-sports-area{
        width: 22rem;
    }
    .card-body{
        margin-top: 3px;
        padding: 0.3rem 0.3rem;
    }
    .card-title{
        margin-bottom: auto;
    }
  }