@media (min-width: 1200px) and (max-width: 1408px) {
    body {
        /* background-color: skyblue; */
    }
    

}@media (min-width: 576px) and (max-width: 767px) {
    .carousel-inner{
        height: 351px;
    }
    .rsp-sports-area{
        width: 16rem;
    }
    .latest-events .full-img{
        height: 57px;
    width: 100%;
    }
    .latest-events .card-body{
        font-size: 0.7rem;
        padding: 0px 0px;
    }
    .latest-events .card-title{
        font-size: 0.95rem;
        margin-bottom: 0.2rem;
    }
    .latest-events .card-body p{
        margin-bottom: 0px;
    }
}
